<footer class="container">
  <div id="social">
    <a href="https://www.behance.net/lucasfads" target="_blank">
      <span class="fab fa-behance fa-fw fa-lg"></span>
    </a>
    <a href="https://twitter.com/lucasfads" target="_blank">
      <span class="fab fa-twitter fa-fw fa-lg"></span>
    </a>
    <a href="https://codepen.io/lucasfads" target="_blank">
      <span class="fab fa-codepen fa-fw fa-lg"></span>
    </a>
    <a href="https://github.com/lucasfads" target="_blank">
      <span class="fab fa-github fa-fw fa-lg"></span>
    </a>    
    <a href="https://dribbble.com/LucasFAdS" target="_blank">
      <span class="fab fa-dribbble fa-fw fa-lg"></span>
    </a>
  </div>
  <div id="copyright">
    LucasFAdS © {{site.data.site.year}}
  </div>
</footer>

</html>