<header class="container">
    <div id="logo">
      <a href="/">
        <img src="{{"/assets/lucasfads_logo.svg" | prepend: site.url}}">
      </a>
    </div>

    <label for="menu-toggle" id="menu-icon">
    	<span class="fas fa-bars"></span>
    </label>
    <input type="checkbox" id="menu-toggle">
    
    <nav>
      
      {% for item in site.data.menu.docs %}
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
      <a href="mailto:{{site.email}}" target="_blank">contato@lucasfads.com.br</a>
        
      
    </nav>
</header>